---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import BrandStorySection from '../components/sections/BrandStorySection.astro';
import ProductShowcase from '../components/sections/ProductShowcase.astro';
import ProcessSection from '../components/sections/ProcessSection.astro';
import WoodGallery from '../components/sections/WoodGallery.astro';
import DevModeSection from '../components/sections/DevModeSection.astro';
import CtaSection from '../components/sections/CtaSection.astro';
---

<BaseLayout>
  <div class="view-container">
    <HeroSection />
    <BrandStorySection />
    <ProductShowcase />
    <ProcessSection />
    <WoodGallery />
    <DevModeSection />
    <CtaSection />
  </div>
  <Navigation />
</BaseLayout>
